@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@200;400;600&family=Inter&display=swap');
* {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 600;
}

[v-cloak] {
    /* display: none; */
    opacity: 0;
}

.f-inter {
    font-family: 'Inter', sans-serif;
}

.f-comfortaa {
    font-family: 'Comfortaa', sans-serif;
}

html,
body,
#app {
    background: #58818a;
}

#app {
    overflow: hidden;
}

#loader {
    top: 0;
    background: #30475e;
    transition: top 0.5s ease-in-out;
}

#refresh-data.animate svg {
    -webkit-animation: spin 1s linear 1;
    -moz-animation: spin 1s linear 1;
    -o-animation: spin 1s linear 1;
    animation: spin 1s linear 1;
}

#network-notifier {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    bottom: -100%;
    transition: bottom 0.4s ease-in-out;
}

#network-notifier.visible {
    bottom: 0;
}

#fetch-error {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}


/* Control Center */

.btn-control-center {
    background: rgba(0, 0, 0, 0.15);
}

.btn-control-center.active {
    background: #fff;
}

.btn-control-center.active svg {
    stroke: #30475e;
}

#brightness-slider-wrapper {
    background: rgba(0, 0, 0, 0.15);
}

#brightness-slider {
    min-height: 10%;
    max-height: 100%;
    height: 100%;
}


/* Animations */

@-webkit-keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@-moz-keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@-o-keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}